body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

#word-container {
    margin: 30px auto;
    text-align: center;
}

#word-inputs input {
    width: 40px; /* Increase the width of input fields */
    height: 40px; /* Increase the height of input fields */
    text-align: center;
    margin: 5px;
    font-size: 20px; /* Increase the font size of characters in input fields */
}

#result-container {
    text-align: center;
    margin-top: 30px;
}

#result-message {
    font-size: 18px;
}

#lives {
    font-size: 16px;
}

#keyboard-container {
    margin-top: 20px;
    text-align: center;
}

.keyboard-row {
    margin-bottom: 10px;
}

.keyboard-key {
    display: inline-block;
    width: 40px; /* Increase the width of keyboard buttons */
    height: 40px; /* Increase the height of keyboard buttons */
    margin-right: 5px;
    font-size: 18px;
}
